NODE_ENV=development
PORT=10000
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
ADMIN_ACCESS_TOKEN=
TELEGRAM_BOT_TOKEN=
GEMINI_API_KEY_COUNT=0
GEMINI_API_KEY_1=
GEMINI_API_KEY_2=
GEMINI_API_KEY_3=
GEMINI_API_KEY_4=
GEMINI_API_KEY_5=
USDT_NETWORK=TRC20
USDT_RECEIVING_ADDRESS=
